@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto';
}

nav {
    margin-left: auto;
    margin-right: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    padding: 0 20px;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.bold {
    font-weight: bold;
    font-size: 16px;
}

header {
    top: 0;
    height: 70px;
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 10;
    padding-left: 0 1rem;
    border-bottom: 1px rgba(27, 26, 26, 0.11) solid;
    background-color: #121212;
    align-items: center;
}

.header-title {
    margin-left: 25%;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    color: white
}

.biography {
    margin: 140px 25% 70px 25%;
    font-size: 28px;
}

.skills {
    padding-top: 30px;
    border-top: 1px rgba(27, 26, 26, 0.11) solid;
    width: 100%;
    color: white;
}

#skill-header {
    margin-left: 25%;
}

.skills b {
    font-size: 28px;
}

.skill {
    padding: 50px 75px;
    width: 26%;
}

.skill p {
    font-size: 20px;
}

.fab, .fas {
    font-size: 60px;
}

.skill-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

#add-info {
    font-size: 16px;
}

.projects {
    font-size: 28px;
    padding-top: 40px;
}

#projects-header {
    margin-left: 25%;
}

.project {
    margin-left: 40%;
    margin-right: 25%;
    margin-bottom: 80px;
}

#img2 {
    width: 500px;
}

.project img {
    width: 650px;
    display: inline-block;
    border: 1px solid black;
}

.proj-desc {
    margin-left: 25%;
    margin-right: 25%;
    font-size: 20px;
    margin-bottom: 50px;
}

.description {
    font-size: 18px;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.cv {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px rgba(27, 26, 26, 0.11) solid;
    width: 100%;
    color: white;
}

.cv-header {
    margin-left: 25%;
    font-size: 28px;
}

.cv p {
    margin-left: 25%;
    margin-right: 25%;
}

.cv a {
    font-weight: bold;
    font-style: italic;
    color: white;
}

.contact {
    margin: 0 25%;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 28px;
}

.backgroundColour {
    background-color: #304fdb;
}

.darkMode {
    background-color: #121212;
    color: white;
    border-bottom: 1px solid white;
}

.darkMode a {
    color: white;
}

@media only screen and (max-width: 1024px) {
    nav a {
        padding-right: 10px;
    }
}

@media only screen and (max-width: 860px) {
    .header-title {
        font-size: 18px;
    }

    nav a {
        font-size: 12px!important;
    }
}

@media only screen and (max-width: 560px) {
    .biography {
        font-size: 22px;
    }
    .fab, .fas {
        font-size: 35px;
    }
}